*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Press Start 2P", cursive;
}

:root {
	--background: rgb(5, 37, 88);
	--canvas: rgb(20, 20, 20);
	--battle-area: rgb(0, 0, 0);
	--bars: rgb(240, 240, 240);
	--health: rgb(0, 90, 0);
	--health-bar: rgb(204, 204, 204);
	--buttons-hover: rgb(185, 185, 185);
	--attack-bar: rgb(92, 0, 0);
	--dialogue: rgb(0, 200, 190);
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
}

.main {
	display: inline-block;
	position: relative;
}

canvas {
	background-color: var(--canvas);
}

.battle-area {
	background-color: var(--battle-area);
	position: absolute;
	top: 0;
	left: 0; 
	right: 0;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
	z-index: 10;
}
 
.user-info {
	display: none;
}

.enemy-bar {
	background-color: var(--bars);
	width: 250px;
	position: absolute;
	top: 50px;
	left: 50px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 12px;
}

.emby-bar {
	background-color: var(--bars);
	width: 250px;
	position: absolute;
	top: 300px;
	right: 80px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 12px;
}

.enemy-bar h1,
.emby-bar h1 {
	margin: 0;
	font-size: 16px;
}

.enemy-health,
.emby-health {
	position: relative;
	margin-top: 10px;
}

.enemy-health-one,
.emby-health-one {
	height: 5px;
	background-color: var(--health-bar);
}

.enemy-health-two,
.emby-health-two {
	height: 5px;
	background-color: var(--health);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--bars);
	height: 140px;
	display: flex;
}

.dialogue {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--dialogue);
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.attacks-box {
	background-color: rgb(0, 255, 51);
	border: 2px dashed black;
	width: 67%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

button {
	border: 0;
	cursor: pointer;
	font-size: 16px;
	border: 2px black solid;
	border-radius: 8px;
	margin: 10px;
	transition: background-color 0.3s, font-size 0.3s;
}

button:hover {
	background-color: var(--buttons-hover);
	font-size: 17px;
}

.attack-type {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--attack-bar);
	width: 33%;
	border: 3px solid black;
}

.attack-type h1 {
	font-size: 16px;
}
